OIC_Overrides/ConnectionAttachmentOverrides/SOAP_CONN/targetWSDLURL/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TestService"
    targetNamespace="http://www.example.org/TestService/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://www.example.org/TestService/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TestService/">
      <xsd:element name="Request"><xsd:complexType><xsd:sequence><xsd:element name="input" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element>
      <xsd:element name="Response"><xsd:complexType><xsd:sequence><xsd:element name="output" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="HelloRequest"><wsdl:part element="tns:Request" name="parameters"/></wsdl:message>
  <wsdl:message name="HelloResponse"><wsdl:part element="tns:Response" name="parameters"/></wsdl:message>

  <wsdl:portType name="TestPortType">
    <wsdl:operation name="SayHello from git">
      <wsdl:input message="tns:HelloRequest"/>
      <wsdl:output message="tns:HelloResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="TestBinding" type="tns:TestPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://www.example.org/TestService/SayHello"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="TestService">
    <wsdl:port binding="tns:TestBinding" name="TestPort">
      <soap:address location="http://www.example.org/mock/service"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
